package $packageName

import ca.stellardrift.permissionsex.util.TranslatableProvider

object ${className} {
    private val BUNDLE_NAME = "${bundleName}"
<%   def propPattern = ~/[.-]/ %><% for (prop in keys) { %><% def propKey = propPattern.matcher(prop.toUpperCase()).replaceAll("_") %>
    @JvmField
    val ${propKey} = TranslatableProvider(BUNDLE_NAME, "${prop}")<% }  %>
}
